# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# ---------------------------
# Django
# ---------------------------
db.sqlite3
*.log
media/

# ---------------------------
# Environment Variables
# ---------------------------
.env

# ---------------------------
# PyCharm / IDE
# ---------------------------
.idea/
*.iml

# VS Code (optional)
.vscode/

# ---------------------------
# OS files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Build / Packaging
# ---------------------------
build/
dist/
*.egg-info/

# ---------------------------
# Coverage / Testing
# ---------------------------
.coverage
htmlcov/
.pytest_cache/
