<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Trading App</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'trading/styles.css' %}">
</head>
<body>

    <header>
        <h1>Trading System</h1>

        <nav>
            <a href="{% url 'stock_list' %}">Stocks</a>
        </nav>

        <hr>
    </header>

    <main>
        {% block content %}
        <!-- Child templates will inject content here -->
        {% endblock %}
    </main>

    <footer>
        <hr>
        <p>Internal Trading Tool</p>
    </footer>

</body>
</html>
